.hero {
  display: flex;
  justify-content: center;
}

.hero__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#header {
  text-transform: capitalize;
}

#purple__text {
  color: var(--clr-indigo500);
}

#paragraph {
  text-transform: capitalize;
  color: var(--clr-slate600);
  font-weight: 400;
}

.hero__btn {
  display: flex;
  gap: 1rem;

  .btn {
    font-size: var(--size-sm);
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  #start__btn {
    border: none;

  }
  #create__btn {
    border: solid .15rem var(--clr-indigo);
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
}

// ////////////////
// ////////////////
// ////////////////
/* xs */
@media (max-width: 475px) {
}
// ////////////////
// ////////////////
// ////////////////
/* sm */
@media (max-width: 640px) {
}
// ////////////////
// ////////////////
// ////////////////
/* md */
@media (max-width: 768px) {
}
// ////////////////
// ////////////////
// ////////////////
/* lg */
@media (max-width: 1024px) {
}
// ////////////////
// ////////////////
// ////////////////
/* xl */
@media (max-width: 1280px) {
}
// ////////////////
// ////////////////
// ////////////////
/* 2xl */
@media (max-width: 1536px) {
}










// .hero {
//   display: flex;
//   justify-content: center;
// }

// .hero__section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }

// #header {
// }

// #paragraph {
//   color: var;
// }

// .hero__btn {
//   display: flex;
//   gap: 1rem;

//   .btn {
//     font-size: var(--size-sm);
//     font-weight: 800;
//     padding: 0.5rem 1rem;
//   }

//   #start__btn {
//     border-radius: var(--size-xxs);
//     border: none;
//     text-transform: capitalize;
//   }
//   #create__btn {
//     text-transform: capitalize;
//     background-color: var(--clr-dark);
//     border: solid 2px var(--clr-violet700);
//     border-radius: var(--size-xxs);
//     color: var(--clr-light);
//     padding: 0px 5rem;
//   }
// }
