.App{
  // background: var(--clr-darkblue);
}

/* xs */
@media (min-width: 475px) {
  .container {
    min-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    min-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    min-width: 1024px;
    border: solid 1px;
    border-color: rgb(255, 0, 0);
    // padding: 1rem;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xlg */
@media (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    min-width: 1536px;
  }
}
